<div class="main">

    <!-- User profile section -->
    <div class="user-profile">
        <h1>User Profile</h1>


            <!-- Display user's name -->
            <div class="user-info-display">
                <label>Username: </label>
                <span>{{ user.Username}}</span>
            </div>

            <!-- Display user's birthday -->
            <div class="user-info-display">
                <label>Birthday: </label>
                <span>{{ user.Birthday | date : "longDate" }}</span>
            </div>

            <!-- Display user's email -->
            <div class="user-info-display">
                <label>Email: </label>
                <span>{{ user.Email }}</span>
            </div>

            
        
           <form>

            <div class="update-user">
                <h2>Update User Info</h2>
                <form (ngSubmit)="updateUser()">
                    <input type="text" [(ngModel)]="formUserData.Username" name="name" placeholder="Name" />
                    <input type="date" [(ngModel)]="formUserData.Birthday" name="birthday" placeholder="Birthday" />
                    <input type="email" [(ngModel)]="formUserData.Email" name="email" placeholder="Email" />
                    <button type="submit">Update</button>
                </form>
            
                            
        
                    </div>
                    
                </form>
            </div>
        </div>
        <!-- Add space between user info and favorite movies -->
        <div class="spacer"></div>
        <!-- Favorite movies section -->
        <div class="content">
            <h2>Favorite Movies</h2>

            <!-- Container for favorite movies -->
            <div class="favorite-movies-container">
                <!-- Message when there are no favorite movies -->
                <div *ngIf="favoritemovie.length === 0" class="movie-cards">
                    <p>No favorite movies found!</p>
                </div>

                <!-- Display favorite movies -->
                <div class="movie-cards">
                    <mat-card *ngFor="let movie of favoritemovie" class="card">
                        <!-- Movie image -->
                        <img src="{{ movie.image }}" alt="{{ movie._id }}" />

                        <!-- Movie details -->
                        <div class="cardContent">
                            <mat-card-header>
                                <mat-card-title>{{ movie.Title }}</mat-card-title>
                                <mat-card-subtitle>{{ movie?.Director?.director }}</mat-card-subtitle>
                            </mat-card-header>

                            
            </div>
            </mat-card>
            </div>
            </div>
            </div>
    

